/* delete the gap between bootstrap rows and navbar */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{ /* I'm not sure if this is the best practice */
	padding-right: 0;
	padding-left: 0;
	height: 100%;
}

.tool  a
{
	color: #AAAAAA;
	display: block;
	font-weight: bold;
}

.tool a p
{
	padding-left: 20px;
	font-size: 100%;
}

.tool a:hover
{
	color: #E6E6E6;
	text-decoration: none;
}

.tool a:hover img
{
	-webkit-filter: brightness(1.3);
}

.navbar
{
	margin-bottom: 0;
}

.navbar-inverse
{
	border-color: #3D3D3D;
}

.navbar-brand img
{
	height: 30px;
	margin-right: 10px; 
}

.logo
{
	padding: 10px 15px;
}

.navpanel
{
	bottom: 0px;
	background-color: #222222;
	width: 50px;
}

.apppanel, .navpanel, .filepanel
{
	position: absolute;
	top: 50px; /* height of the navbar */
	overflow: auto;
}

.navpanel, .filepanel
{
	bottom: 0px;
	background-color: #222222;
}

.filepanel
{
	width: 100%;	
}

.apppanel
{
	left: 50px;
	right: 0px;
	bottom: 0px;
	padding: 20px;
	background-color: #E6E6E6;
}

.bottom-nav
{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.bottom-nav li
{
	margin-left: 0;
	width: 100%;
	text-align: center;
	border-top: 1px solid #3D3D3D;
}

.nav-pills > li > a
{
	border-radius: 0;
	background-color: #222222;
	color: #AAAAAA;
}

.nav-pills > li > a:hover
{
	background-color: #333333;
}

/* used to overlap bootstrap style */
.bottom-nav > li + li
{
	margin-left: 0;
}

.list-group
{
	width: 100%;
}

.list-group-item:last-child
{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.list-group-item:first-child
{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item
{
	background-color: #222222;
	border: 1px solid #3D3D3D;
	border-right: 0;
	border-left: 0;
}

a.list-group-item
{
	color: #AAAAAA;
	word-wrap: break-word;
}

.toolbutton
{
	font-size: 200%;
	padding: 0;
	text-align: center;
}

.dropdown-pad
{
	padding-right: 12px;
}

a.list-group-item:hover
{
	background-color: #333333;
}

.row
{
	margin-left: 0;
	margin-right: 0;
}

html, body, .row
{
	height: 100%;
}

.tool
{
	color: #333333;
}

.tool img {
	width: 50%;
	padding: 20px;
}
	
.navbar-toggle
{
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
}

.sidebar-offcanvas 
{
	margin-right: -16.7%;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 2;
}

.toolselector
{
	margin-top: 0;
	top: 0;
	left: 0;
	height:100%;
	z-index: 900;
}


#sidebar:target
{
	width: 16.7%;
}

.bullet-glyphicon
{
	margin-right: 8px;
}

.footnav-pad
{
	padding-bottom: 20px;	
}

.file-preview
{
	overflow: hidden;
}

.white
{
	color: #ffffff;
}

/* these classes are used by elements added to the DOM at runtime by Javascript for the filebar */
a.filenameedit, a.file-list-link
{
	color: #AAAAAA;
	text-decoration: none;
}

.nameedit-confirm
{
	letter-spacing: 6px;
	font-size: 110%;
}

.nameedit-tick:hover
{
	color: #00B233;
}

.nameedit-cross:hover
{
	color: #B20000;
}

a.file-list-link
{
	margin-right: 42px;
}

a.file-list-link:hover
{
	color: #E6E6E6;
}

.dropdown-file-options
{
	border-top: 1px dashed #AAAAAA;
	padding: 5px 3px 3px 0px;
	margin-top: 15px;
	letter-spacing: 1px;
	overflow: hidden;
}
.dropdown-file-options.fopts-closed
{
	border-width: 0px;
	margin: 10px 0px 0px 0px;
	padding: 0px 3px 0px 3px;
	height: 0px;
}

.delete-button-container
{
	float: right;
}

.edit-dropdown-button
{
	position: absolute;
	right: 10px;
}

.left-button-container
{
	float: left;
}

.edit-dropdown-button
{
	color: #AAAAAA;
	font-size: 120%;
}

a.edit-dropdown-button:hover
{
	color: #E6E6E6;
}

.filebar-spacer
{
	font-size: 125%;
}

.file-option-button.fbtn-on
{
	font-size: 125%;
	color: #E6E6E6;
}
.file-option-button.fbtn-off
{
	font-size: 115%;
	color: #AAAAAA;
}

.file-option-button
{
	width: 26px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
}


/* end of filebar classes */

@media screen and (max-width: 767px)
{
	.apppanel, .navpanel, .filepanel
	{
		top: 56px; /* height of the navbar */
	}

	.sidebar-offcanvas
	{
		margin-right: -50%;
	}
	
	.col-sm-10
	{
		overflow: hidden;
	}
}

.greybox
{
	float: left;
	max-width: 475px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	word-wrap: break-word;
	padding: 8px;
}

#flow-graph-container
{
	position: relative;
	width: 480px;
	height: 480px;
}

/* allows a div to be position exactly over the other elements in its div */
.over-graph
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* leave space arround action buttons on the app page*/
.action-btn-group
{
	padding: 20px;
}

/* contains the app page's main elements */
.app-well
{
	vertical-align: top;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 20px;
}

/* allows a link into a label to show nicely */
.label > a
{

	color: #fff;
	cursor: pointer;
}

/* fix a weird padding on the welcome jumbotron */

.jumbotron > h2 {
	margin-bottom: 30px;
}

/* truncate the name of the files, inserting dots */
.file-list-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 0px;
}

/* puts a spinner in the middle of the element */
.loading {
	background-image: url('../images/spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.large-name
{
	font-size:		130%;
	font-weight:	bold;
}

.gate-options
{
	padding: 0px 20px 20px 20px;
}
