/* delete the gap between bootstrap rows and navbar */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{ /* I'm not sure if this is the best practice */
	padding-right: 0;
	padding-left: 0;
	height: 100%;
}

.navbar
{
	margin-bottom: 0;
}
.navbar-inverse
{
	border-color: #3D3D3D;
}

.apppanel
{
	bottom: 0;
	padding: 20px 20px 20px 35px;
	border-left: 1px solid #3D3D3D;
	background-color: #E6E6E6;
}

.navpanel
{
	bottom: 41px;
	background-color: #222222;
}

.apppanel, .navpanel
{
	position: absolute;
	top: 50px; /* height of the navbar */
	overflow: auto;
	width: 100%;
}

.bottom-nav
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-nav li {
	margin-left: 0;
	width: 33.33333333333334%;
	text-align: center;
	border-top: 1px solid #3D3D3D;
}

.nav-pills > li > a {
	border-radius: 0;
	background-color: #222222;
	color: #AAAAAA;
}

.nav-pills > li > a:hover {
	background-color: #333333;
}

.bottom-nav > li + li { /* used to overlap bootstrap style */
	margin-left: 0;
	border-left: 1px solid #3D3D3D;
}

.list-group 
{
	width: 100%;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item
{
	background-color: #222222;
	border: 1px solid #3D3D3D;
	border-right: 0;
	border-left: 0;
}

a.list-group-item
{
	color: #AAAAAA;
}

a.list-group-item:hover {
background-color: #333333;
}

.row
{
	margin-left: 0;
	margin-right: 0;
}

html, body, .row
{
	height: 100%;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}