@media screen and (min-width: 768px) {
	.jumbotron h1 {
		font-size: 48px;
		color: #000000;
	}
	.jumbotron {
		margin-left: 14%;
		margin-right: 14%;
	}
	body {
		padding-top: 0px;
	}
}
.container {
	margin-right: auto;
	margin-left: auto;
}

.jumbotron {
		margin-top: 16%;
		text-align: center;
		background: rgba(238,238,238, 0.7);
		-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.4); 
		-moz-box-shadow: 0px 0px 30px rgba(0,0,0,.4);
		box-shadow: 0px 0px 30px rgba(0,0,0,.4);/*need equivalent for other browsers*/
}

.white {
		color: #fff
}

html {
		height: 100%;
		width: 100%;
}

body {
		background:url('../images/cells.jpg') no-repeat center center fixed;
		width: 100%;
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
}

.privacy
{
	margin-top: 20px;
}
.privacy-small
{
	font-size: 70%;
}
