{% extends "baselayout.html" %}

{% block title %}About - Flow cytometry upload tool{% endblock title %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <h2>Who we are?</h2>
    <p>Team Keesaco - info@keesaco.com</p>
    <ul>
        <li>Jack McCrea - jmccrea@keesaco.com</li>
        <li>Sam Whitehouse - swhitehouse@keesaco.com</li>
        <li>Christian Wike - cwike@keesaco.com</li>
        <li>Rogan Murley - rmurley@keesaco.com</li>
        <li>Matthieu Rudelle - mrudelle@keesaco.com</li>
        <li>Hazel Doughty - hdoughty@keesaco.com</li>
    </ul>
    <h2>Where is this project?</h2>
    <p>On Github: <a href="https://github.com/JackMcCrea/Keesaco">https://github.com/JackMcCrea/Keesaco</a></p>
</div>
{% endblock content %}