{% extends "basicpagelayout.html" %}

{% block title %}About - Flow cytometry upload tool{% endblock title %}

{% block content %}
<div id="wrap"> <!-- for sticky footer -->
    <div class="container">
        <h1>About</h1>
        <h2>Who we are?</h2>
        <p>Team Keesaco - info@keesaco.com</p>
        <ul>
            <li>Jack McCrea - jmccrea@keesaco.com</li>
            <li>Sam Whitehouse - swhitehouse@keesaco.com</li>
            <li>Christian Wike - cwike@keesaco.com</li>
            <li>Rogan Murley - rmurley@keesaco.com</li>
            <li>Matthieu Rudelle - mrudelle@keesaco.com</li>
            <li>Hazel Doughty - hdoughty@keesaco.com</li>
        </ul>
        <h2>Where is this project?</h2>
        <p>On Github: <a href="https://github.com/JackMcCrea/Keesaco">https://github.com/JackMcCrea/Keesaco</a></p>
        <h2>Image</h2>
        <p>The image used on the front page can be found here:
        <a href="http://www.publicdomainpictures.net/view-image.php?image=42719">
        http://www.publicdomainpictures.net/view-image.php?image=42719</a></p>
    </div>
</div>
{% endblock content %}
