{% extends "baselayout.html" %}

{% block title %}Settings - Flow cytometry upload tool{% endblock title %}

{% block cssimport %}
{% load staticfiles %}
<link href="{% static "css/settings.css" %}" rel="stylesheet">
{% endblock cssimport %}

{% block customstyle %}<!-- need more a top padding here  (in css)-->{% endblock customstyle %}
    
{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#setting1" data-toggle="tab">Setting page 1</a></li>
        <li><a href="#setting2" data-toggle="tab">Setting page 2</a></li>
        <li><a href="#setting3" data-toggle="tab">Setting page 3</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade in active" id="setting1">
            <h1>Setting 1</h1>
        </div>
        <div class="tab-pane fade" id="setting2">
            <h1>Setting 2</h1>
        </div>
        <div class="tab-pane fade" id="setting3">
            <h1>Setting 3</h1>
        </div>
    </div>
</div>
{% endblock content %}
