{% block content %}
<div id="wrap"> <!-- for sticky footer -->
    <div class="container">
        <h1>About</h1>
        <h2>Who we are?</h2>
        <p><span class="large-name">Team Keesaco</span> - info@keesaco.com</p>
        <ul>
            <li><span class="large-name">Jack McCrea</span> - jmccrea@keesaco.com</li>
            <li><span class="large-name">Sam Whitehouse</span> - swhitehouse@keesaco.com</li>
            <li><span class="large-name">Christian Wike</span> - cwike@keesaco.com</li>
            <li><span class="large-name">Rogan Murley</span> - rmurley@keesaco.com</li>
            <li><span class="large-name">Matthieu Rudelle</span> - mrudelle@keesaco.com</li>
            <li><span class="large-name">Hazel Doughty</span> - hdoughty@keesaco.com</li>
        </ul>
        <h2>Where is this project?</h2>
        <p>On Github: <a href="https://github.com/JackMcCrea/Keesaco">https://github.com/JackMcCrea/Keesaco</a></p>
        <h2>Acknowledgements</h2>
        <p>The image used on the front page can be found here:
        <a href="http://www.publicdomainpictures.net/view-image.php?image=42719">
        http://www.publicdomainpictures.net/view-image.php?image=42719</a></p>
        <p>The spinner used for loading can be generated here: <a href="http://www.ajaxload.info/">http://www.ajaxload.info/</a> </p>
		<h2>Privacy</h2>
		<p>We store small amounts of useful information on your computer using local storage and cookies which we can access when you visit our site in future. This helps us save your site preferences, giving you a better experience when using the KeesaFlo tool.</p>
		<p>Information on this type of storage is available at <a href="http://www.aboutcookies.org">AboutCookies.org</a>. Please note that by deleting or disabling this information you may see the help tour an awful lot!</p>
    </div>
</div>
{% endblock content %}
