{% extends "baselayout.html" %}

{% block title %}APP - Flow cytometry upload tool{% endblock title %}

{% block cssimport %}
{% load staticfiles %}
<link href="{% static "css/app.css" %}" rel="stylesheet">
{% endblock cssimport %}

{% block customstyle %}<!-- no need of a top padding here -->{% endblock customstyle %}

{% block navbar %}<!-- no navbar in this view -->{% endblock navbar %}

{% block content %}

<div class="row row-offcanvas row-offcanvas-left">
    <!--toolbar-->
    <div class="col-sm-2 col-xs-5 toolbar-offcanvas" id="sidebar2" role="navigation">
		<nav class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand">Tools</a>
			</div>
		</nav>
		<div class="navpanel">
			<div class="tool"><a href="#"><img src="/static/images/scatter.png"><p>Graph</p></a></div>
		</div>
    </div>
	<!-- main panel -->
	<div class="col-sm-10">
		<nav class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <button type="button" class="navbar-toggle pull-left visible-xs" data-toggle="offcanvas">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="{% url app %}"><img src="/static/images/logo.png">FlowCloud</a>
			</div>
			<div class="nav-collapse navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="togglefiles" href="#">Files</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Guest User <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a title="Settings" data-toggle="modal" data-target="#settingsModal">Settings</a></li>
							<li class="divider"></li>
							<li><a href="{% url index %}">Logout</a></li>
						</ul>
					</li>
				</ul>
            </div>
			
		</nav>
		<div class="apppanel">
			<div class="jumbotron">
				<h1>Hello Guest!</h1>
				{% if current_file %}
					<p>You are trying to access the current_file: {{ current_file.filename }} </p>
					<p>Size: {{ current_file.st_size|filesizeformat }} </p>
					<p>MD5: {{ current_file.etag }} </p>
					<p>Time: {{ current_file.st_ctime }} </p>
				{% else %}
					Select a file in the sidebar.
				{% endif %}
			</div>
		</div>
	</div>
    <!-- file panel -->
	<div class="col-sm-2 col-xs-5 sidebar-offcanvas" id="sidebar" role="navigation">
		<nav class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand togglefiles" href="#">Files</a>
			</div>
		</nav>
		<div class="navpanel">
			<div class="list-group">
				{% if files %}
					{% for file in files %}
					<a href="{% url app %}{{file.filename}}" class="list-group-item {% if file.filename == current_file.filename %}active{% endif %}"><span class="badge">{{ file.st_size|filesizeformat }}</span>{{ file.filename }}</a>
					{% endfor %}
				{% else %}
					<a data-toggle="modal" data-target="#uploadModal" class="list-group-item">No files - Click here to upload one</a>
				{% endif %}
			</div>
		</div>
		<ul class="nav nav-pills bottom-nav">
			<li><a href="{% url faq %}" title="F.A.Q"><span class="glyphicon glyphicon-question-sign" title="Upload"></span></a></li>
			<li><a href="{% url about %}" title="About"><span class="glyphicon glyphicon-info-sign"></span></a></li>
			<li><a title="Upload"  data-toggle="modal" data-target="#uploadModal"><span class="glyphicon glyphicon-cloud-upload"></span></a></li>
		</ul>
	</div>
</div>

<!-- Modal popup that shows when someone try to upload a file -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       	<h4 class="modal-title" id="uploadModalLabel"> Upload a file </h4>
	      </div>
		    <form action="" method="post" enctype="multipart/form-data" target="_self">
	      <div class="modal-body">
		    {% csrf_token %}
		    {% for field in form %}
		        <div class="fieldWrapper">
		            {{ field.label_tag }} {{ field }}
		            {{ field.errors }}
		        </div>
		    {% endfor %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
	        <button type="submit" value="Upload" class="btn btn-primary">Upload</button>
	      </div>
	    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal popup that shows settings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       	<h4 class="modal-title" id="settingsModalLabel"> Settings </h4>
	      </div>
		    <form action="" method="post" enctype="multipart/form-data" target="_self">
	      <div class="modal-body">
		    
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="submit" value="Upload" class="btn btn-primary">OK</button>
	      </div>
	    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock content %}

{% block javascriptimport %}
    <!-- Le javascript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster but lot of these might not be useful to load-->
    {{ block.super }}
    {% load staticfiles %}
    <script src="{% static "js/offcanvas.js" %}"></script>
    <script src="{% static "js/togglelink.js" %}"></script>
{% endblock javascriptimport %}