<!-- This file define the basic layout of the web application 
    each webpage of the webapp will extends this file and chang
    some of the block as needed -->

<!-- TODO:  - Handle the active tab
            - narrow the container
            - remove background image on other than index -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    {% block cssimport %}{% endblock cssimport %}
    
    {% block customstyle %}
    {% endblock customstyle %}
    
    
  </head>

  <body>
    
    {% block navbar %}
    <!-- navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="glyphicon glyphicon-th-list white"></span>
                </button>
                <a href="{% url app %}" class="navbar-brand"><img src="{% static "images/logo.png" %}" />FlowCloud</a>
            </div>
            <div class="nav-collapse navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{% url about %}">About</a></li>
                    <li><a href="{% url faq %}">FAQ</a></li>
                    <li><a href="{% url app %}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    
    {% block content %}{% endblock content %}
    
    {% block footer %}{% endblock footer %}

    {% block javascriptimport %}
    <!-- Le javascript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster but lot of these might not be useful to load-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    {% endblock javascriptimport %}
  </body>
</html>