{% block content %}
<div id="wrap"> <!-- for sticky footer -->
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <h2>Q1. What is KeesaFlo?</h2>
        <p>KeesaFlo is a cloud based web application designed to allow people to upload, analyse and share their flow cytometry data in an intuitive and user friendly manner.</p>
        <h2>Q2. Who are Keesaco?</h2>
        <p>Keesaco is a group of six students from the University of Bristol. They originally created this website for a group coursework.</p>
		<h2>Q3. Can I host my own version of KeesaFlo?</h2>
        <p>If you want to. Currently, the KeesaFlo website has been created to run using Google's developer services, so you will need to register a billing account with them. More information on setting up and running the site can be found in the KeesaFlo repository.</p>
		<h2>Q4. Can I make my own version of this website?</h2>
        <p>Sure. The KeesaFlo website is open source, so feel free to create your own derivative websites. For more information on our license, please visit <a href="https://www.gnu.org/copyleft/gpl.html">the GNU GPL webpage</a>.</p>
		<h2>Q5. Can I help develop the KeesaFlo website?</h2>
        <p>If you have a GitHub account, then feel free to contribute to the KeesaFlo repository on <a href="https://github.com/">GitHub</a></p>
    </div>
</div>
{% endblock content %}