<div class="jumbotron">
	{% load staticfiles %}
	<h1>Hello {{ authed_user_nick }}!</h1>
	{% if current_file %}
		<p>You are trying to access the current_file: {{ current_file.filename }} </p>
		<p>Size: {{ current_file.st_size|filesizeformat }} </p>
		<p>MD5: {{ current_file.etag }} </p>
		<p>Time: {{ current_file.st_ctime }} </p>
		
			{% if file_name_without_extension %}
				<div id="flow-graph-container">
				<img src="{% url get_graph file_name_without_extension %}">
			{% else %}
				<p><i>This dataset does not contain visualisation data</i></p>
				<div id="flow-graph-container">
				<img src="{% static "images/temp_graph.png" %}">
			{% endif %}

			<div class="over-graph">
				<p id="tool-popover-title" class="greybox">Tool</p>
			</div>
			<canvas id="flow-canvas" class="over-graph" width="480px" height="480px">
			</canvas> 
		</div>
		<div class="btn-group btn-group-lg action-btn-group">
			<button type="button" class="btn btn-defauls"><a href="{% url get_dataset current_file.filename %}">Download Dataset</a></button>
		  	<button type="button" class="btn btn-defauls" id="request-gating-btn" disabled>Create gating</button>
		  	<button type="button" class="btn btn-defauls" id="reset-tool-btn" disabled>Reset Tool</button>
		</div>
	{% else %}
		Select a file in the sidebar.
	{% endif %}
</div>
