{% if current_file %}
	{% if friendly_name %}
	<div  class="well app-well">
		<div id="flow-graph-container">
			<img id="graph-img" src="{% url get_graph name %}">
			<div class="over-graph">
				<p id="tool-popover-title" class="greybox">Tool</p>
			</div>
			<canvas id="flow-canvas" class="over-graph" width="480px" height="480px">
			</canvas> 
		</div>
	</div>	
	<div class="well app-well">
		<h3 id="filename">{{ friendly_name }}<span id="filesize" class="label label-default">{{ current_file.st_size|filesizeformat }}</span></h3>
		<!--<div id="gating-stats">
			<span>Loading...</span>
		</div>-->
		<div class="btn-group btn-group-lg action-btn-group">
			<button type="button" class="btn btn-download"><a href="{% url get_dataset current_file.filename %}">Download Dataset</a></button>
		  	<button type="button" class="btn" id="request-gating-btn" disabled>Create gating</button>
		  	<button type="button" class="btn" id="reset-tool-btn">Reset Tool</button>
		</div>
		<div class="gate-options">
			<label><input type="checkbox" id="chk_reverse_gate" /> Reverse gate</labeL><br />
		</div>
	</div>
	{% else %}
		<div  class="well app-well">
			<h1>No visualisation data</h1>
			<p>You may want to refresh if you expect a graph to appear</p>
		</div>
	{% endif %}

{% else %}
	<div class="jumbotron"> 
		<h2>Hi {{ authed_user_nick }},</h2>
		<p>Welcome to 
			<span class="label label-primary">
				KeesaFlo
			</span> !</p>
		<p>To get started, first select a file in the 
			<span class="label label-success">
				<a title="Files" id="togglefiles">file selector</a>
			</span>
			&nbsp;or&nbsp;
			<span class="label label-success">
				<a title="Upload"  data-toggle="modal" data-target="#uploadModal">upload a new file</a>
			</span>.
		</p>
	</div>
{% endif %}
