<div class="jumbotron">
	{% load staticfiles %}
	<h1>Hello {{ authed_user_nick }}!</h1>
	{% if current_file %}
		<p>You are trying to access the current_file: {{ current_file.filename }} </p>
		<p>Size: {{ current_file.st_size|filesizeformat }} </p>
		<p>MD5: {{ current_file.etag }} </p>
		<p>Time: {{ current_file.st_ctime }} </p>
		<p><i>This dataset does not contain visualisation data</i></p>
		
		<div id="flow-graph-container">
			{% if file_name_without_extension %}
				<img src="{% url get_graph file_name_without_extension %}">
			{% else %}
				<img src="{% static "images/temp_graph.png" %}">
			{% endif %}

			<div class="over-graph">
				<p id="tool-popover-title" class="greybox">Tool</p>
			</div>
			<canvas id="flow-canvas" class="over-graph" width="480px" height="480px">
			</canvas> 
		</div>

		<p><a class="btn btn-primary btn-lg" role="button" href="{% url get_dataset current_file.filename %}">Download Dataset</a></p>
	{% else %}
		Select a file in the sidebar.
	{% endif %}
</div>
