{% extends "baselayout.html" %}

{% block title %}Flow cytometry upload tool{% endblock title %}

{% block cssimport %}
    {% load staticfiles %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
{% endblock cssimport %}

{% block content %}
    <!-- centred box -->
    <div class="container">
        <div class="jumbotron">
        <h1>Flow Cytometry Upload Tool</h1>
        <p class="lead">A quick and easy way to upload your flow cytometry data.</p>
            <div class="btn-toolbar">
                <a class="btn btn-primary btn-lg" href="#">Sign Up</a>
                <a class="btn btn-success btn-lg" href="{% url login %}">Login »</a>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock content %}
{% block footer %}<!-- no need of a top padding here -->{% endblock footer %}