{% extends "basicpagelayout.html" %}

<!---TODO: active tab
           find better alternative to toggle nav
           sort out javascript import
-->

{% block title %}Settings - Flow cytometry upload tool{% endblock title %}

{% block cssimport %}
{{ block.super }} {% comment %} this line will load the content of this block in baselayout {% endcomment %}
{% load staticfiles %}
<link href="{% static "css/settings.css" %}" rel="stylesheet">
{% endblock cssimport %}
    
{% block content %}
<div id="wrap"> <!-- for sticky footer -->
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#setting1" data-toggle="tab">Setting 1</a></li>
                    <li><a href="#setting2" data-toggle="tab">Setting 2</a></li>
                    <li><a href="#setting3" data-toggle="tab">Setting 3</a></li>
                </ul>  
            </div>
            <div class="col-xs-12 col-sm-9">
                <p class="pull-left visible-xs">
                    <button type="button" class="navbar-toggle " data-toggle="offcanvas">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </p>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="setting1">
                        <h1>Setting 1</h1>
                    </div>
                    <div class="tab-pane fade" id="setting2">
                        <h1>Setting 2</h1>
                    </div>
                    <div class="tab-pane fade" id="setting3">
                        <h1>Setting 3</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascriptimport %}
    <!-- Le javascript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster but lot of these might not be useful to load-->
    {{ block.super }}
    <script src="{% static "js/offcanvas.js" %}"></script>
{% endblock javascriptimport %}
