{% extends "basicpagelayout.html" %}

{% block title %}Settings - Flow cytometry upload tool{% endblock title %}

{% block cssimport %}
{{ block.super }} {% comment %} this line will load the content of this block in baselayout {% endcomment %}
{% load staticfiles %}
<link href="{% static "css/settings.css" %}" rel="stylesheet">
{% endblock cssimport %}

{% block customstyle %} {% comment %}need more top padding here  (in css){% endcomment %}{% endblock customstyle %}
    
{% block content %}
<div id="wrap"> <!-- for sticky footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#setting1" data-toggle="tab">Setting 1</a></li>
                    <li><a href="#setting2" data-toggle="tab">Setting 2</a></li>
                    <li><a href="#setting3" data-toggle="tab">Setting 3</a></li>
                </ul>  
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="setting1">
                        <h1>Setting 1</h1>
                    </div>
                    <div class="tab-pane fade" id="setting2">
                        <h1>Setting 2</h1>
                    </div>
                    <div class="tab-pane fade" id="setting3">
                        <h1>Setting 3</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
