<div class="tool list-group">
	<a class="list-group-item vector-glyphrectangle toolbutton" id="tool_rectangular_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphpolygon toolbutton" id="tool_polygon_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphcircle toolbutton" id="tool_oval_gating">&nbsp;</a>
</div>
<ul class="nav nav-pills bottom-nav">
	<li class="tour-step tour-step-three"><a href="#!/faq/" title="F.A.Q"><span class="glyphicon glyphicon-question-sign" title="Upload"></span></a></li>
	<li><a href="#!/about/" title="About"><span class="glyphicon glyphicon-info-sign"></span></a></li>
</ul>