<div class="tour-step tools tool list-group">
	<a class="list-group-item vector-glyph-rectangle toolbutton tip-right" title="Rectangular Gating" id="tool_rectangular_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-polygon toolbutton tip-right" title="Polygon Gating" id="tool_polygon_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-circle toolbutton tip-right" title="Ellipsoid Gating" id="tool_oval_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-vector-group-removed toolbutton tip-right" title="Boolean Or Gating" id="tool_or_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-centerline toolbutton tip-right" title="Quadrant Gating" id="tool_quadrant_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-sigma-lowercase toolbutton tip-right" title = "Normal Distribution Gating" id="tool_normal_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-kilometer toolbutton tip-right" title="K-means gating" id="tool_kmeans_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-axes toolbutton tip-right" title="Change Axes" id="tool_change_axes" data-toggle="modal" data-target="#axesModal">&nbsp;</a>
</div>
