<div class="tour-step tools tool list-group">
	<a class="list-group-item vector-glyphrectangle toolbutton tip-right" title="Rectangular Gating" id="tool_rectangular_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphpolygon toolbutton tip-right" title="Polygon Gating" id="tool_polygon_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphcircle toolbutton tip-right" title="Ellipsoid Gating" id="tool_oval_gating">&nbsp;</a>
	<a class="list-group-item vector-glyph-vector-group-removed toolbutton tip-right" title="Boolean Or Gating" id="tool_or_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphrectangle toolbutton tip-right" title="Quadrant Gating" id="tool_quadrant_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphrectangle toolbutton tip-right" title = "Normal Distribution Gating" id="tool_normal_gating">&nbsp;</a>
	<a class="list-group-item vector-glyphrectangle toolbutton tip-right" title="K-means gating" id="tool_kmeans_gating">&nbsp;</a>
</div>
<ul class="nav nav-pills bottom-nav">
	<li><a href="#!/faq/" title="F.A.Q"><span class="glyphicon glyphicon-question-sign" title="Upload"></span></a></li>
	<li><a href="#!/about/" title="About"><span class="glyphicon glyphicon-info-sign"></span></a></li>
</ul>
